body {
  /* font-family: 'Roboto', sans-serif; */
}

.card {
  text-align: center;
  height: 230px;
  margin: 20px;
  padding: 15px;
}

.shadow {
  position:relative;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.icon-box {
  height: 100px;
}

.on {
  color: #F7CA18;
}

.off {
  color: #4caf50;
}

.icon-box i {
  padding-top: 10px;
  font-size: 80px;
}

.card-control {
  padding: 10px;
}

.card-title {
  font-size: 20px;
}

.status {
  text-align: right;
}

.rage-title {
  font-size: 20px;
  padding: 20px
}

.lamp-control {
  padding: 20px
}